* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    max-width: 1400px;
    margin: auto;
}

.navber {
    text-align: center;
    margin: 20px;

}

.navber a {
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
}

.navber a:hover {
    color: brown;
    text-decoration: underline;
    transition: 1s;
}



.flex-1 {

    text-align: center;
    margin: 50px;
}

.img-a img {

    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.img-a img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.6s;
}

.text-1 {
    margin-top: 50px;
}


.text-1 span {
    color: rgb(241, 125, 67);
}

.text-1 p {
    padding: 10px;
    font-size: 20px;
}

.button-1 {
    background-color: rgb(241, 97, 44);
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: rgb(240, 248, 255);
    cursor: pointer;
    width: 200px;
}


.about-section {
    text-align: center;
    margin-top: 50px;
}



.img-b img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
}

.img-b img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.6s;
}

.button-2 {
    margin-top: 10px;
}

.text-2 h1 {
    padding: 5px;
    color: rgb(44, 44, 137);
}

.text-2 p {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.text-2 {
    padding: 10px;
}

.button-2 {
    background-color: rgb(231, 93, 43);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(240, 248, 255);
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

.card-section {
    width: 100%;
    border: 1px solid rgb(229, 217, 213);
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(237, 232, 226);
    align-items: center;
}


.card-section h1 {
    text-align: center;


}

.header h1 {
    text-align: center;
}


.card-section span {
    color: rgb(213, 62, 32);
}

.card-flex {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    place-items: center;

}

.contact-flex {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    place-items: center;

}

.card {
    align-items: center;
    margin-top: 20px;
    text-align: center;
    background-color: aliceblue;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgb(255, 106, 0);
}

.card img {
    padding: 10px;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.box-section {
    place-items: center;
    padding: 10px;
}

.box {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    min-height: 150px;
    background-color: rgb(54, 54, 158);
    padding: 15px;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.box h1 {
    color: aliceblue;
}

.button-3 button {
    background-color: orangered;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-div {
    padding: 20px;
    margin-top: 20px;
    align-items: center;
}

.header h1 {
    color: rgb(240, 167, 9);
}


.contact {
    align-items: center;
    margin-top: 20px;
    text-align: center;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px orangered;
}

.contact:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

.contact h1 {
    line-height: 45px;
    text-align: center;
    margin-top: 20px;
}

.contact p {
    font-size: 20px;
    margin: 8px;
    margin-top: 30px;
}

.contact-flex {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    place-items: center;
}



.footer {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.f-img img {
    height: 70px;
    width: 70px;
    margin: 10px;
    cursor: pointer;
}



.footer-flex {
    display: flex;
    justify-content: center;
}

.footer h3 {
    margin: 20px;
}


@media only screen and (min-width:699px) {

    .card {
        /* width: auto; */
        width: 100%;
        padding: 5px;
    }

    .card-section {
        width: 100%;
        padding: 10px;
    }

    .navber {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navber a:hover {
        color: brown;
        text-decoration: underline;
        transition: 1s;
    }

    .flex-1 {
        display: flex;
        justify-content: space-around;
        place-items: center;
        margin: 50px;
    }

    .about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin-top: 50px;

    }

    .card-section h1 {
        margin-top: 20px;
    }

    .card-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        place-items: center;
        margin-top: 20px;
    }

    .card {
        width: fit-content;
        height: auto;
        margin: 20px;
    }

    .contact-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px;
        place-items: center;
    }

    .contact {
        /* width: auto; */
        width: 330px;
        padding: 5px;
    }

    .f-img img {
        height: 100px;
        width: 100px;
    }

    .img-a img {
        margin: 20px;
        height: 350px;
        width: 350px;
    }

    .text-1 {
        text-align: justify;
        font-size: x-large;
    }

    .box {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .text-2 {
        text-align: justify;

    }

    .text-2 p {
        text-align: justify;
    }

    .card p {
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
        padding: 10px;
    }

    .card h2 {
        text-align: justify;
        padding: 10px;
    }

    .navber a {
        font-size: 25px;
    }

    .img-b img {
        width: 350px;
        height: 300px;
    }

    .button-3 button {
        margin: 0;
    }

}



@media only screen and (min-width:699px) and (max-width:1260px) {

    .contact h1 {
        line-height: 45px;
        text-align: center;
    }

    .navber a {
        line-height: 35px;
    }

    .card-section {
        width: 100%;
        padding: 10px;
    }

    .card-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        place-items: center;
    }

    .contact-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-template-rows: auto;
        place-items: center;
    }

    .contact {
        /* width: auto; */
        max-width: 300px;
        padding: 5px;
    }

    .img-a img {
        height: 250px;
        width: 250px;
    }

    .img-b img {
        width: 250px;
        height: 200px;
    }

}

@media only screen and (max-width:699px) {

    .card-section {
        width: 100%;
        padding: 10px;
    }

    .card {
        /* width: auto; */
        width: 100%;
        padding: 5px;
    }

    .navber a {
        line-height: 35px;
    }

    .header h1 {
        padding: 10px;
    }

    .contact {
        /* width: auto; */
        width: 300px;
        padding: 5px;
    }

    .main-content {
        text-align: center;
    }

    .contact-flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        place-items: center;
    }

    .card-flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: center;
    }

    .text-2 {
        padding: 2rem;
    }

    .flex-1 {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media only screen and (max-width:375px) {

    .card-section {
        width: 100%;
        margin-top: 50px;
        background-color: rgb(237, 232, 226);
        align-items: center;
    }

    .header h1 {
        padding: 10px;
    }

    .card {
        /* width: auto; */
        width: 100%;
        padding: 5px;
    }

    .img-a img {

        width: 150px;
        height: 150px;
    }

    .contact-flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        place-items: center;
    }

    .contact {
        /* width: auto; */
        width: 100%;
        margin: auto;
        margin-top: 8px;
    }

}